<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1><%= __('TP2') %></h1>
	    	<h2><%= __('Cours') %></h2>
	    	<h3><%= __('Remise') %></h3>
	    	<p><%= __('Description') %></p>
    	</section>
    </main>
</div>	

